body
    margin 0
    padding 0
    font-family sans-serif
    -webkit-font-smoothing antialiased
    user-select none

button
    margin 0 // Safari draw 2px by default

.App
    width 600px
    margin 40px auto
