.Search

    &__filters
        padding 10px
        background-color #f6f7f7

    &__found
        display flex
        justify-content center
        align-items center
        height 40px
        padding 30px 30px 5px
        color #777
        transition opacity .3s ease-out

        &.hidden
            opacity 0
